<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>Signstr</string>
	<key>CFBundleName</key>
	<string>Signstr</string>
	<key>UIAppFonts</key>
	<array>
		<string>Outfit-ExtraLight.ttf</string>
		<string>Outfit-Light.ttf</string>
		<string>Outfit-Regular.ttf</string>
		<string>Outfit-Medium.ttf</string>
		<string>Outfit-variable.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Signstr uses the camera to scan QR codes for importing your Nostr private key.</string>
	<key>NFCReaderUsageDescription</key>
	<string>Signstr uses NFC to communicate with your smart card.</string>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A00000080400010101</string>
		<string>5361746f43686970</string>
		<string>536565644b6565706572</string>
		<string>5361746f44696d65</string>
	</array>
</dict>
</plist>
